/**
 * @name M3 Colour Discord
 * @description M3 colour Discord
 * @author WalkQuackBack
 * @version 0.0.0
*/

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --hover: 8%;
    --active: 16%;
    --disabled: 50%;

    --mod-subtle: 10%;
    --mod-normal: 12%;
    --mod-strong: 14%;
    --mod-select: 16%;

    --tint: 75%;
    --scrim: 70%;

    --ghost: 95%;
    
    /* Theme vars */
    --hover-generic: color-mix(in oklab, transparent, var(--md-sys-color-on-surface) var(--hover));
    --active-generic: color-mix(in oklab, transparent, var(--md-sys-color-on-surface) var(--active));

    /* Custom */
    --dnd: var(--md-extended-color-red-color);
    --idle: var(--md-extended-color-yellow-color);
    --offline: var(--md-sys-color-outline);
    --online: var(--md-extended-color-green-color);

    --white: #ffffff;
    --white-text: #2f3131;

    /* Fonts */
    /* --font-primary: 'Inter', 'Inter Tight', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-display: 'Inter Tight', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */

    --font-primary: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-display: 'Inter Tight', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.visual-refresh body,
.visual-refresh .theme-dark:not(.custom-user-profile-theme),
.visual-refresh .theme-light:not(.custom-user-profile-theme),
.visual-refresh.theme-midnight:not(.custom-user-profile-theme) {
    /* --activity-card-background: var(--bg-3);
    --alert-bg: red;
    --autocomplete-bg: var(--bg-3);

    */

    --background-accent: var(--md-sys-color-surface-container-low);
    --background-floating: var(--md-sys-color-surface-container);
    --background-nested-floating: var(--md-sys-color-surface-container-high);
    
    --background-mentioned: color-mix(in oklab, var(--md-extended-color-yellow-color-container), transparent var(--tint));
    --background-mentioned-hover: color-mix(in oklab, var(--background-mentioned), var(--md-extended-color-yellow-color) var(--hover));

    --background-message-automod: red;
    --background-message-automod-hover: red;

    --background-message-highlight: color-mix(in oklab, var(--md-sys-color-primary-container), transparent var(--tint));
    --background-message-highlight-hover: color-mix(in oklab, var(--background-message-highlight), var(--md-sys-color-primary) var(--hover));

    --background-message-hover: var(--hover-generic);

    /* Surface */

    --background-primary: var(--background-surface-higher);
    --background-secondary: var(--background-surface-high);
    --background-secondary-alt: var(--background-surface-high);
    --background-tertiary: var(--background-base-low);

    --bg-base-primary: var(--background-base-low);
    --bg-base-secondary: var(--background-base-lower);
    --bg-base-tertiary: var(--background-base-lowest);
    
    --bg-overlay-chat: var(--background-base-low);
    --bg-backdrop: color-mix(in oklab, transparent, var(--md-sys-color-scrim) var(--scrim));

    --background-surface-highest: var(--md-sys-color-surface-container-highest);
    --background-surface-higher: var(--md-sys-color-surface-container-high);
    --background-surface-high: var(--md-sys-color-surface-container);
    --background-base-low: var(--md-sys-color-surface-container-low);
    --background-base-lower: var(--md-sys-color-surface);
    --background-base-lowest: var(--md-sys-color-surface-container-lowest);
    
    /* Mod */
    --background-mod-subtle: color-mix(in oklab, transparent, var(--md-sys-color-on-surface) var(--mod-subtle));
    --background-mod-normal: color-mix(in oklab, transparent, var(--md-sys-color-on-surface) var(--mod-normal));
    --background-mod-strong: color-mix(in oklab, transparent, var(--md-sys-color-on-surface) var(--mod-strong));
    
    --background-modifier-hover: var(--hover-generic);
    --background-modifier-accent: var(--background-mod-normal);
    --background-modifier-active: var(--background-mod-strong);
    --background-modifier-selected: color-mix(in oklab, transparent, var(--md-sys-color-on-surface) var(--mod-select));

    --bg-mod-faint: var(--background-mod-subtle);
    --bg-mod-subtle: var(--background-mod-subtle);
    --bg-mod-strong: var(--background-mod-strong);
    --bg-brand: var(--md-sys-color-primary);
    
    --bg-surface-overlay: var(--background-surface-high);
    --bg-surface-raised: var(--background-surface-higher);
    --chat-background-default: var(--background-base-low);
    --chat-text-muted: var(--text-muted);
    --input-background: var(--background-base-low);

    --modal-background: var(--background-surface-high);
    --modal-footer-background: var(--modal-background);

    --border-faint: var(--md-sys-color-outline-variant);
    --border-subtle: var(--md-sys-color-outline-variant);
    --border-normal: var(--md-sys-color-outline-variant);
    --border-strong: var(--md-sys-color-on-surface-variant);
    --input-border: var(--md-sys-color-outline);

    --button-danger-background: var(--md-extended-color-red-color);
    --button-danger-background-active: color-mix(in oklab, var(--button-danger-background), currentColor var(--active));
    --button-danger-background-hover: color-mix(in oklab, var(--button-danger-background), currentColor var(--hover));
    --button-danger-background-disabled: color-mix(in oklab, var(--button-danger-background), transparent var(--disabled));
    --button-danger-border: transparent;

    --button-filled-brand-text: var(--md-sys-color-on-primary);
    --button-filled-brand-background: var(--md-sys-color-primary);
    --button-filled-brand-background-active: color-mix(in oklab, var(--button-filled-brand-background), currentColor var(--active));
    --button-filled-brand-background-hover: color-mix(in oklab, var(--button-filled-brand-background), currentColor var(--hover));
    --button-filled-brand-border: transparent;

    --button-filled-brand-inverted-background: var(--md-sys-color-inverse-surface);
    --button-filled-brand-inverted-background-hover: color-mix(in oklab, var(--button-filled-brand-inverted-background), currentColor var(--hover));
    --button-filled-brand-inverted-background-active: color-mix(in oklab, var(--button-filled-brand-inverted-background), currentColor var(--active));
    --button-filled-brand-inverted-text: var(--md-sys-color-inverse-on-surface);

    --button-filled-white-background: var(--white);
    --button-filled-white-background-hover: color-mix(in oklab, var(--button-filled-white-background), currentColor var(--hover));
    --button-filled-white-background-active: color-mix(in oklab, var(--button-filled-white-background), currentColor var(--active));
    --button-filled-white-text: var(--white-text);

    --button-outline-brand-background: transparent;
    --button-outline-brand-background-hover: color-mix(in oklab, var(--button-outline-brand-background), currentColor var(--hover));
    --button-outline-brand-background-active: color-mix(in oklab, var(--button-outline-brand-background), currentColor var(--active));
    --button-outline-brand-border: var(--md-sys-color-primary);
    --button-outline-brand-border-active: color-mix(in oklab, var(--button-outline-brand-border), currentColor var(--hover));
    --button-outline-brand-border-hover: color-mix(in oklab, var(--button-outline-brand-border), currentColor var(--active));
    --button-outline-brand-text: var(--md-sys-color-primary);
    --button-outline-brand-text-active: var(--md-sys-color-primary);
    --button-outline-brand-text-hover: var(--md-sys-color-primary);

    --button-outline-danger-background: transparent;
    --button-outline-danger-background-hover: color-mix(in oklab, var(--button-outline-danger-background), currentColor var(--hover));
    --button-outline-danger-background-active: color-mix(in oklab, var(--button-outline-danger-background), currentColor var(--active));
    --button-outline-danger-border: var(--md-extended-color-red-color);
    --button-outline-danger-border-active: color-mix(in oklab, var(--button-outline-danger-border), currentColor var(--hover));
    --button-outline-danger-border-hover: color-mix(in oklab, var(--button-outline-danger-border), currentColor var(--active));
    --button-outline-danger-text: var(--md-extended-color-red-color);
    --button-outline-danger-text-active: var(--md-extended-color-red-color);
    --button-outline-danger-text-hover: var(--md-extended-color-red-color);

    --button-outline-primary-background: transparent;
    --button-outline-primary-background-hover: color-mix(in oklab, var(--button-outline-primary-background), currentColor var(--hover));
    --button-outline-primary-background-active: color-mix(in oklab, var(--button-outline-primary-background), currentColor var(--active));
    --button-outline-primary-border: var(--md-sys-color-outline);
    --button-outline-primary-border-active: color-mix(in oklab, var(--button-outline-primary-border), currentColor var(--hover));
    --button-outline-primary-border-hover: color-mix(in oklab, var(--button-outline-primary-border), currentColor var(--active));
    --button-outline-primary-text: var(--md-sys-color-on-surface);
    --button-outline-primary-text-active: var(--md-sys-color-on-surface);
    --button-outline-primary-text-hover: var(--md-sys-color-on-surface);

    --button-outline-positive-background: transparent;
    --button-outline-positive-background-hover: color-mix(in oklab, var(--button-outline-positive-background), currentColor var(--hover));
    --button-outline-positive-background-active: color-mix(in oklab, var(--button-outline-positive-background), currentColor var(--active));
    --button-outline-positive-border: var(--md-extended-color-green-color);
    --button-outline-positive-border-active: color-mix(in oklab, var(--button-outline-positive-border), currentColor var(--hover));
    --button-outline-positive-border-hover: color-mix(in oklab, var(--button-outline-positive-border), currentColor var(--active));
    --button-outline-positive-text: var(--md-extended-color-green-color);
    --button-outline-positive-text-active: var(--md-extended-color-green-color);
    --button-outline-positive-text-hover: var(--md-extended-color-green-color);

    --button-positive-background: var(--md-extended-color-green-color);
    --button-positive-background-hover: color-mix(in oklab, var(--button-positive-background), currentColor var(--hover));
    --button-positive-background-active: color-mix(in oklab, var(--button-positive-background), currentColor var(--active));
    --button-positive-background-disabled: color-mix(in oklab, var(--button-positive-background), transparent var(--disabled));
    --button-positive-border: var(--button-border);

    --button-secondary-background: color-mix(in oklab, var(--md-sys-color-on-surface), transparent var(--ghost));
    --button-secondary-background-hover: color-mix(in oklab, var(--button-secondary-background), currentColor var(--hover));
    --button-secondary-background-active: color-mix(in oklab, var(--button-secondary-background), currentColor var(--active));
    --button-secondary-background-disabled: color-mix(in oklab, var(--button-secondary-background), transparent var(--disabled));
    --button-secondary-text: var(--md-sys-color-on-surface);

    --button-transparent-background: transparent;
    --button-transparent-background-hover: color-mix(in oklab, var(--button-transparent-background), currentColor var(--hover));
    --button-transparent-background-active: color-mix(in oklab, var(--button-transparent-background), currentColor var(--active));
    --button-transparent-text: var(--md-sys-color-on-surface);
    /*

    --redesign-button-secondary-text: var(--text-3);

    --polls-voted-fill: color-mix(in hsl, var(--accent-2), transparent 90%);
    --polls-victor-fill: color-mix(in hsl, var(--green-2), transparent 90%);

    */
    --card-primary-bg: var(--background-base-low);
    --card-secondary-bg: blue;
    --channel-icon: var(--text-tertiary);
    --channels-default: var(--text-tertiary);

    --embed-title: var(--text-primary);

    --header-primary: var(--text-primary);
    --header-secondary: var(--text-tertiary);
    --header-muted: var(--text-muted);

    --info-danger-foreground: red;
    --info-danger-background: red;
    --info-danger-text: red;
    --info-help-background: color-mix(in hsl, var(--blue-2), transparent 80%);
    --info-help-foreground: var(--blue-1);
    --info-help-text: var(--blue-1);
    --info-positive-foreground: var(--status-positive);
    --info-positive-background: color-mix(in hsl, var(--yellow-1), transparent 80%);
    --info-positive-text: var(--green-1);

    --info-warning-foreground: var(--status-warning);
    --info-warning-background: var(--status-warning-background);
    --info-warning-text: var(--status-warning);

    --text-brand: var(--md-sys-color-primary);
    --text-danger: var(--md-sys-color-error);

    --text-link: var(--md-sys-color-primary);
    --text-link-low-saturation: var(--md-sys-color-primary);

    --text-low-contrast: var(--md-sys-color-outline);
    --text-message-preview-low-sat: var(--md-sys-color-on-surface-variant);

    --text-normal: var(--md-sys-color-on-surface);
    --text-positive: var(--md-extended-color-green-color);

    --text-muted: var(--md-sys-color-outline);
    --text-muted-on-default: var(--text-muted);
    --text-primary: var(--md-sys-color-on-surface);
    --text-secondary: var(--md-sys-color-on-surface-variant);
    --text-tertiary: var(--md-sys-color-on-surface-variant);

    --icon-muted: var(--md-sys-color-outline);
    --icon-primary: var(--md-sys-color-on-surface);
    --icon-secondary: var(--md-sys-color-on-surface-variant);
    --icon-tertiary: var(--md-sys-color-on-surface-variant);

    --text-warning: var(--md-extended-color-yellow-color);

    --text-default: var(--md-sys-color-on-surface);

    --user-profile-overlay-background: var(--bg-surface-raised);
    --user-profile-overlay-background-hover: color-mix(in oklab, var(--bg-surface-raised), currentColor var(--hover));

    --status-danger: var(--md-extended-color-red-color);
    --status-danger-background: var(--md-extended-color-red-color-container);
    --status-danger-text: var(--md-extended-color-red-on-color);

    --status-dnd: var(--dnd);
    --status-idle: var(--idle);
    --status-offline: var(--offline);
    --status-online: var(--online);

    --status-positive: var(--md-extended-color-green-color);
    --status-positive-background: var(--md-extended-color-green-color);
    --status-positive-text: var(--md-extended-color-green-on-color);

    --status-speaking: var(--md-extended-color-green-color);
    --status-warning: var(--md-extended-color-yellow-color);
    --status-warning-background: var(--md-extended-color-yellow-color);
    --status-warning-text: var(--md-extended-color-yellow-on-color);

    --background-feedback-critical: color-mix(in oklab, var(--md-extended-color-red-color-container), transparent var(--tint));
    --background-feedback-info: color-mix(in oklab, var(--md-extended-color-blue-color-container), transparent var(--tint));
    --background-feedback-positive: color-mix(in oklab, var(--md-extended-color-green-color-container), transparent var(--tint));
    --background-feedback-warning: color-mix(in oklab, var(--md-extended-color-yellow-color-container), transparent var(--tint));

    --text-feedback-critical: var(--md-extended-color-red-color);
    --text-feedback-positive: var(--md-extended-color-green-color);
    --text-feedback-info: var(--md-extended-color-blue-color);
    --text-feedback-warning: var(--md-extended-color-yellow-color);

    --premium-nitro-pink-text: var(--md-extended-color-purple-color);

    --interactive-normal: var(--text-secondary);
    --interactive-hover: var(--text-primary);
    --interactive-active: var(--text-primary);
    --interactive-muted: var(--text-muted);

    --mention-foreground: var(--md-sys-color-primary);
    --mention-background: var(--background-message-highlight);

    --channel-text-area-placeholder: var(--md-sys-color-outline);

    --message-reacted-text: var(--md-sys-color-primary);
    --message-reacted-background: var(--background-message-highlight);

    /* --custom-channel-members-bg: var(--bg-4); */

    --redesign-input-control-selected: var(--md-sys-color-primary);
    --checkbox-background-checked: var(--md-sys-color-primary);
    --checkbox-border-checked: var(--md-sys-color-primary);
    /*
    --scrollbar-auto-thumb: var(--bg-3);
    --scrollbar-auto-track: transparent;
    --scrollbar-thin-thumb: var(--bg-3);
    --scrollbar-thin-track: transparent;

    --white: var(--text-0);
    --white-500: var(--text-0);
    --redesign-button-overlay-alpha-text: var(--text-2);

    --brand-360: var(--accent-2);
    --brand-500: var(--accent-2);
    --blurple-50: var(--accent-2);

    --red-400: var(--red-2);
    --red-500: var(--red-3);

    --green-360: var(--green-2);
    --primary-400: var(--text-4);

    --deprecated-text-input-bg: var(--bg-3);
    --deprecated-text-input-border: var(--border-light);

    --background-code: var(--bg-3); */

    --focus-primary: var(--md-sys-color-secondary);

    /* Nitro */
    --premium-tier-0-purple-for-gradients: var(--md-extended-color-purple-color-container);
    --premium-tier-0-blue-for-gradients: var(--md-extended-color-blue-color-container);

    --premium-tier-2-purple-for-gradients: var(--md-extended-color-purple-color-container);
    --premium-tier-2-purple-for-gradients-2: var(--md-extended-color-purple-color-container);
    --premium-tier-2-pink-for-gradients: var(--md-extended-color-pink-color-container);
    
    --custom-guild-list-padding: var(--space-xs);
    --custom-guild-list-width: calc(var(--guildbar-avatar-size) + var(--custom-guild-list-padding)* 2);
    --custom-channel-header-height: calc(40px + var(--space-xs));
}

.visual-refresh.visual-refresh.visual-refresh {
    .lookFilled__201d5 {
        &.colorGreen__201d5 {
            color: var(--md-extended-color-green-on-color);
        }
        &.colorRed__201d5 {
            color: var(--md-extended-color-red-on-color);
        }
    }

    .base__2b1f5[style*='background-color: var(--status-danger)'] {
        color: var(--status-danger-text);
    }
    
    .lookLink__201d5.colorLink__201d5,
    .lookLink__201d5.colorBrand__201d5,
    .lookLink__201d5.colorPrimary__201d5 {
        color: var(--md-sys-color-primary);
        &:hover .contents__201d5 {
            --button--underline-color: currentColor;
        }
    }

    /* Glow red */
    button.button__67645.redGlow__67645,
    span.button__67645.redGlow__67645 {
        background-color: var(--background-feedback-critical);
    }

    /* Info/Unread banner */
    .notice__30f28,
    .newTopicsBarContainer__0f481,
    .newMessagesBar__0f481 {
        background: var(--custom-notice-background);
        color: var(--custom-notice-text);
    }
    
    .notice__30f28,
    .newTopicsBarContainer__0f481 {
        --custom-notice-background: var(--md-sys-color-tertiary-container);
        --custom-notice-text: var(--md-sys-color-on-tertiary-container);
    }

    .newMessagesBar__0f481 {
        --custom-notice-background: var(--md-sys-color-primary-container);
        --custom-notice-text: var(--md-sys-color-on-primary-container);
    }
    
    .header__30f28,
    .newTopicsBarText__0f481 {
        color: inherit;
    }

    /* Settings page sidebar */
    .sidebarRegionScroller__23e6b {
        background-color: var(--background-surface-high);
    }

    /* Join this server banner */
    .notice_c5cd6a {
        --custom-notice-background: var(--md-sys-color-primary-container);
        --custom-notice-text: var(--md-sys-color-on-primary-container);
        background: var(--custom-notice-background);
        color: var(--custom-notice-text);
    }

    /* Bot tag */
    .botTagRegular__82f07 {
        background: var(--bg-brand);
        color: var(--md-sys-color-on-primary);
    }
    /* OP bot tag */
    .botTagOP__82f07 {
        background-color: var(--md-extended-color-blue-color);
        color: var(--md-extended-color-blue-on-color);
    }

    /* Checkbox icon */
    .checkbox_f525d3.checked_f525d3 path,
    /* Radio circle */
    .refreshIcon__001a7,
    /* Dropdown selected check */
    .selectedIcon__3f413 circle[fill="white"],
    /* Circle icon hover */
    .circleIconButton__5bc7e.selected__5bc7e,
    /* Circle icon main hover */
    .wrapper__6e9f8.selected__6e9f8 .childWrapper__6e9f8,
    .wrapper__6e9f8:hover .childWrapper__6e9f8,
    .circleIconButton__5bc7e:hover:not(.disabled__5bc7e),
    /* Add Friend header text */
    .tabBar__133bf .addFriend__133bf.addFriend__133bf.addFriend__133bf:not([aria-selected=true]) {
        color: var(--md-sys-color-on-primary) !important;
        fill: currentColor !important;
    }

    /* Add Friend header text selected */
    .tabBar__133bf .addFriend__133bf.addFriend__133bf.addFriend__133bf[aria-selected=true] {
        background-color: var(--md-sys-color-primary-container);
    }

    /* Dropdown selected */
    .selectedIcon__3f413 {
        color: var(--md-sys-color-primary);
    }

    /* User profile hover */
    .avatarWrapper__37e49:hover,
    .interactive__972a0:hover {
        background-color: var(--background-modifier-hover);
    }

    /* Slider track */
    .mini_a562c8 .barFill_a562c8, .slider_a562c8 .barFill_a562c8 {
        background: var(--md-sys-color-primary);
    }

    /* Switch */
    .container__87bf1 {
        &.checked__87bf1 {
            background-color: var(--md-sys-color-primary) !important;
            border-color: transparent;
            .slider__87bf1 {
                & > rect:first-of-type {
                    fill: var(--md-sys-color-on-primary) !important;
                }
                & > svg:first-of-type > path {
                    fill: var(--md-sys-color-on-primary-container) !important;
                }
            }
        }
        &:not(.checked__87bf1) {
            background-color: var(--md-sys-color-surface-container-highest) !important;
            border-color: var(--input-border);
            .slider__87bf1 {
                & > rect:first-of-type {
                    fill: var(--md-sys-color-outline) !important;
                    scale: 0.7;
                }
                & > svg:first-of-type > path {
                    fill: var(--md-sys-color-surface-container-highest) !important;
                    opacity: 0;
                }
            }
        }
        .slider__87bf1 {
            & > rect:first-of-type {
                transform-origin: center;
                scale: 1;
                transition: 150ms ease scale;
            }
            & > svg:first-of-type > path {
                opacity: 0;
            }
        }
    }

    /* Tooltip (Inverse surface) */
    .tooltip__382e7,
    .tooltipPrimary__382e7,
    .tooltipGrey__382e7 {
        --tooltip-pointer-bg: var(--md-sys-color-inverse-surface);
        background-color: var(--md-sys-color-inverse-surface);
        color: var(--md-sys-color-inverse-on-surface);
        font-weight: 500;
        
        /* Guild text */
        .guildNameText_b1f768,
        /* Generic */
        .tooltipContent__382e7 > *
        {
            color: inherit !important;
        }
        .tooltipPointer__382e7.tooltipPointerBg__382e7:after {
            border-top-color: transparent;
        }
    }

    .tooltipPointer__382e7 {
        border-top-color: var(--tooltip-pointer-bg);
        /* display: none; */
    }

    /* M3 button style */
    .button__201d5 {
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        letter-spacing: 0.1pt;

        transition-duration: 150ms;

        &:not(.lookBlank__201d5) {
            &.sizeSmall__201d5 {
                padding: 0 16px;
            }
    
            &.sizeTiny__201d5,
            &.sizeSmall__201d5,
            &.sizeMedium__201d5,
            &.sizeLarge__201d5,
            &.icon_fb7f94 {
                border-radius: var(--radius-round);
            }
        }

        /* Copy btn */
        &.button_fffc15 {
            padding: var(--space-4) var(--space-sm) !important;
        }

        /* Nitro btn */
        /* &.floatingNitroButton__39749 {
            color: ;
        } */

        --custom-button-button-xl-width: 148px;
        --custom-button-button-xl-height: 50px;
        --custom-button-button-lg-width: 130px;
        --custom-button-button-lg-height: 44px;
        --custom-button-button-md-width: 96px;
        --custom-button-button-md-height: 40px;
        --custom-button-button-sm-width: 60px;
        --custom-button-button-sm-height: 36px;
        --custom-button-button-tn-height: 24px;
        --custom-button-button-tn-width: 52px;
    }

    /* Menus */
    .menu_c1e9c4,
    .popout__3f413 {
        border-color: transparent;
        border-radius: 8px;
        --_level: 2;
        --_shadow-color: var(--md-sys-color-shadow);
        box-shadow: none;

        animation: fade-in 150ms ease;
        transform-origin: center;
        &::before, &::after {
            content: '';
            border-radius: inherit;
            inset: 0;
            position: absolute;
            pointer-events: none;
        }
        &::before {
            box-shadow: 0px calc(1px*(clamp(0,var(--_level),1) + clamp(0,var(--_level) - 3,1) + 2*clamp(0,var(--_level) - 4,1))) calc(1px*(2*clamp(0,var(--_level),1) + clamp(0,var(--_level) - 2,1) + clamp(0,var(--_level) - 4,1))) 0px var(--_shadow-color);
            opacity: .3;
        }
        &::after {
            box-shadow: 0px calc(1px*(clamp(0,var(--_level),1) + clamp(0,var(--_level) - 1,1) + 2*clamp(0,var(--_level) - 2,3))) calc(1px*(3*clamp(0,var(--_level),2) + 2*clamp(0,var(--_level) - 2,3))) calc(1px*(clamp(0,var(--_level),4) + 2*clamp(0,var(--_level) - 4,1))) var(--_shadow-color);
            opacity: .15;
        }
    }
    .scroller_c1e9c4 {
        padding: 0;
        padding-block: var(--space-8);
        overflow: hidden auto !important;
    }

    /* Menu item */
    .labelContainer_c1e9c4,
    .option__3f413 {
        padding: var(--space-8) 12px;
        line-height: 24px;
        font-size: 14px;
        border-radius: 0;

        gap: var(--space-10);

        transition: 100ms background ease;

        /* &[aria-haspopup="true"],
        &:not(:has(.iconContainer_c1e9c4)) {
            padding-inline-start: calc(12px + 20px + 8px);
        } */

        .label_c1e9c4 {
            font-weight: 400;
            order: 25;
        }

        .iconContainer_c1e9c4 {
            margin-left: 0;
            order: 10;
            &.iconContainerLeft_c1e9c4 {
                margin-right: 0;
            }
        }
        
        &[aria-haspopup="true"] .iconContainer_c1e9c4,
        .hintContainer_c1e9c4,
        &.checkboxContainer_c1e9c4 .iconContainer_c1e9c4 {
            order: 40;
        }

        .hintContainer_c1e9c4 {
            max-height: none;
        }
    }

    /* dropdown */
    .option__3f413 {
        flex-direction: row;
    }

    .separator_c1e9c4 {
        margin-block: 4px;
    }

    /* Quick react menu reactions */
    .wrapper_f563df {
        padding: 0;
        margin-inline: var(--space-8);
        padding-block: 2px var(--space-8);
        gap: var(--space-6);
        overflow: hidden;
        .customItem_c1e9c4 {
            border-radius: var(--radius-round);
            & > .button_f563df {
                background-color: var(--md-sys-color-surface-container-highest);
                border-radius: inherit;
                position: relative;
                &:hover {
                    background-color: color-mix(in oklab, var(--md-sys-color-surface-container-highest), currentColor var(--hover));
                }
                /* Touch target */
                &::before {
                    content: '';
                    border-radius: 0;
                    inset: -3px;
                    position: absolute;
                    pointer-events: all;
                }
            }
        }
    }

    .submenuPaddingContainer_c1e9c4 {
        margin-inline: -8px;
    }

    /* Popover reaction bar */
    .popoverReactionHoverBar_f84418 {
        border-radius: var(--radius-round);
        padding: 2px;
    }
    .hoverBarButton_f84418 {
        border-radius: var(--radius-round);
        padding: var(--space-4);
        /* Touch target */
        &::before {
            content: '';
            border-radius: 0;
            inset: 0;
            position: absolute;
            pointer-events: all;
        }
    }
    .button_f7ecac {
        &.dangerous_f7ecac:hover {
            color: color-mix(in oklab, var(--status-danger), var(--md-sys-color-on-surface) var(--hover));
        }
    }

    /* Message reaction */
    .reaction__23977.reactionMe__23977,
    /* Selected DM wallpaper */
    .wallpaper_f86e69.wallpaperSelected_f86e69:after,
    .wallpaperRemoveSelection_f86e69.wallpaperSelected_f86e69:after{
        border-color: var(--md-sys-color-primary);
    }

    /* Message bar */
    .channelTextArea__74017 {
        border-radius: 27px;
    }
    .inner__74017 {
        padding: 0 var(--space-10);
    }
    .buttons__74017 {
        gap: var(--space-8)
    }
    .scrollableContainer__74017 {
        border-radius: inherit;
        margin-inline-end: 0;
        scrollbar-width: none;
    }

    /* Buttons */

    .scrollableContainer__74017 .button__201d5,
    .toolbar__9293f .iconWrapper__9293f {
        &.attachButton__0923f {
            padding-inline: var(--space-16) var(--space-4);
        }
        .contents__201d5,
        &:is(.iconWrapper__9293f) {
            width: 32px;
            height: 32px;
            position: relative;
            color: var(--interactive-normal);
            
            .spriteContainer__04eed,
            &.attachButtonInner__0923f > svg {
                margin: 6px;
                --custom-emoji-sprite-size: 20px !important;
            }
            &::before, &::after {
                content: '';
                border-radius: inherit;
                position: absolute;
                pointer-events: all;
            }
            &::before {
                border-radius: var(--radius-round);
                
                inset: -4px;
                z-index: -1;
                transition: 75ms opacity ease;
                background: currentColor;
                opacity: 0;
            }
            &::after {
                inset: -8px -4px;
            }
            &:hover::before {
                opacity: var(--hover);
            }
        }
        &[aria-expanded="true"],
        &.active__24af7,
        &.selected__9293f {
            .contents__201d5,
            &:is(.iconWrapper__9293f) {
                &::before {
                    opacity: var(--color-active-btn-opacity, var(--active));
                }

                &,
                .buttonWrapper__24af7,
                .icon__9293f {
                    color: var(--color-active-btn-text, var(--md-sys-color-primary));
                }
            }
        }
        &.selected__9293f {
            --color-active-btn-text: var(--md-sys-color-secondary);
        }
    }

    /* Expression picker */
    --custom-gif-picker-gutter-size: var(--space-10) 8px 8px 8px;
    --custom-gif-picker-search-results-desired-item-width: 160px;

    --custom-emoji-picker-constants-emoji-container-padding-horizontal: 4px;
    --custom-emoji-picker-constants-emoji-container-padding-vertical: 4px;

    --custom-emoji-picker-constants-unicode-category-icon-padding: 4px 8px;
    --custom-emoji-picker-constants-guild-category-icon-size: 40px;
    --custom-stickers-constants-sticker-category-icon-size: auto;
    --custom-stickers-constants-guild-category-icon-size: 40px;

    /* Nav bar */
    .navButton__08434 {
        border-radius: var(--radius-round);
        padding: var(--space-6) var(--space-12);
        /* outline: 1px solid var(--md-sys-color-outline-variant); */
        outline-offset: -1px;
        color: var(--md-sys-color-on-surface-variant);
        &.navButtonActive__08434 {
            background-color: var(--md-sys-color-primary-container);
            color: var(--md-sys-color-on-primary-container);
            outline-color: transparent;
        }
    }

    .nav__08434 {
        padding: 0 var(--space-xs);
    }

    .navList__08434 {
        gap: var(--space-xxs);
        justify-content: center;
    }

    .navItem__08434 {
        flex-grow: 1;
        & +.navItem__08434 {
            margin-left: 0
        }
    }

    .contentWrapper__08434 {
        grid-template-rows: auto 1fr;
        grid-row-gap: 0;
        padding-block-start: var(--space-xs);

        --nav-motion-duration: 225ms;
        --nav-fade-duration: 225ms;

        .medium_a45028 {
            height: 36px;
            border-radius: var(--radius-round);
        }
        .container_a45028 {
            outline: 2px solid transparent;
            border-width: 0;
            background-color: var(--md-sys-color-surface-dim);
            &:focus-within {
                outline-color: var(--md-sys-color-primary);
            }
            .inner_a45028 {
                padding: 0 var(--space-10);
            }
        }
        .inner_a45028 {
            flex-direction: row-reverse;
            gap: var(--space-6);
        }
    }

    .wrapper__4e6ce {
        background-color: var(--bg-surface-overlay);
    }

    /* Emoji */
    .categoryItem_b9ee0c,
    /* Stickers */
    .stickerCategory__3ad28
    {
        position: relative;
        border-radius: var(--radius-md);
        translate: -4px 0;

        transition: var(--nav-fade-duration) background ease;

        &::after {
            content: '';
            border-radius: 3px 0 0 3px;
            inset-block: 8px;
            inset-inline-end: -2px;
            width: 3px;
            position: absolute;
            pointer-events: none;
            background-color: var(--md-sys-color-primary);
            
            opacity: 0;
            scale: 1 0;
            transition: var(--nav-fade-duration) opacity ease, var(--nav-motion-duration) scale ease;
        }

        &:hover {
            &::after {
                opacity: 0.5;
                scale: 1 0.8;
            }    
        }

        &.stickerCategory__3ad28:not(.stickerCategoryGeneric__3ad28)::after {
            translate: 8px 0;
        }
        
        &.categoryItemGuildCategory_b9ee0c,
        &.categoryItemPackCategory_b9ee0c,
        &.stickerCategory__3ad28:not(.stickerCategoryGeneric__3ad28) {
            height: 32px;
            div:first-of-type {
                transition: var(--nav-motion-duration) scale ease;
                transform: translateX(4px);
                scale: var(--icon-scale, 0.875);
            }

            .categoryItemLockIconContainer__0fa6d {
                inset: auto 8px -2px auto;
            }

            &:has([mask="url(#svg-mask-squircle)"]) {
                --icon-scale: 1;
                &:hover {
                    &::after {
                        opacity: 0.5;
                        scale: 1 0.8;
                    }    
                }
                &::after {
                    opacity: 1;
                    scale: 1;
                }
            }
        }
    }

    &.reduce-motion {
        .contentWrapper__08434 {
            --nav-motion-duration: 0ms;
        }
    }
    
    /* Emoji */
    .categoryItemDefaultCategory_b9ee0c,
    /* Stickers */
    .stickerCategoryGeneric__3ad28 {
        width: 40px;
        height: 34px;
        box-sizing: border-box;
        padding: var(--custom-emoji-picker-constants-unicode-category-icon-padding);
        
        /* Emoji */
        .categoryIcon_b9ee0c,
        /* Stickers */
        .stickerCategoryGenericIcon__3ad28 {
            color: var(--md-sys-color-outline);
            transition: var(--nav-fade-duration) color ease;
        }

        /* Emoji */
        &.categoryItemDefaultCategorySelected_b9ee0c,
        /* Stickers */
        &.firstPartyCategorySelected__3ad28,
        &.firstPartyCategorySelected__3ad28:hover,
        &.stickerCategoryGenericSelected__3ad28,
        &.stickerCategoryGenericSelected__3ad28:hover {
            background-color: color-mix(in oklab, transparent, var(--md-sys-color-primary) var(--active));
            &:hover {
                background-color: color-mix(in oklab, transparent, var(--md-sys-color-primary) calc(var(--active) + var(--hover)));
            }

            &,
            /* Emoji */
            .categoryIcon_b9ee0c,
            /* Stickers */
            .stickerCategoryGenericIcon__3ad28 {
                color: var(--md-sys-color-primary);
            }

            &::after {
                opacity: 1;
                scale: 1;
            }
        }
    }

    /* Emoji */
    .emojiItem_fc7141 {
        border-radius: var(--radius-md);

        &.emojiItemSelected_fc7141,
        &.emojiItem_fc7141&.expandCollapseButtonSelected_fc7141 {
            background-color: var(--hover-generic);
        }

        .emojiLockIconContainer_d982c2,
        .emojiSpriteImage_d982c2,
        .image__1859b {
            scale: 0.8;
        }
    }

    /* Emoji always greyscale */
    .spriteColored__04eed {
        opacity: 0;
    }
    .spriteGreyscale__04eed, .spritePremiumColored__04eed {
        opacity: 1;
        background-color: currentColor;
    }

    /* Row */
    .emojiListRow_fc7141 {
        padding-left: var(--space-4);
    }
    
    /* Emoji row item */
    .emojiListRow_fc7141 li,
    /* Sticker row */
    .row_c6367b {
        overflow: visible;
    }

    /* Category header */
    .wrapper__14245 {
        padding-inline: 0;
        .header__14245 {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            
            width: 100%;
            height: 100%;

            padding-inline: var(--space-10);

            border-radius: var(--radius-sm);

            transition: color .125s, background .15s;

            &:hover {
                background-color: var(--hover-generic);
            }

            &:active {
                background-color: var(--active-generic);
            }
        }
    }

    .headerLabel__14245 {
        text-transform: initial;
        margin-inline: var(--space-xs) var(--space-xxs);
    }

    /* Sticker hover */
    .stickerInspected_c6367b .inspectedIndicator_c6367b {
        background-color: var(--hover-generic);
    }

    .emojiItem_fc7141.emojiItemSelected_fc7141:before,
    .stickerInspected_c6367b:before {
        --__adaptive-focus-ring-color: var(--md-sys-color-primary);
        --md-focus-ring-active-width: 6px;
        --md-focus-ring-width: 2px;
        border: none;
        border-radius: inherit;
    }

    /* GIF picker */
    .result__2dc39 {
        border-radius: var(--radius-md);
        transition: scale .25s ease;

        --__adaptive-focus-ring-color: var(--md-sys-color-primary);
        --md-focus-ring-outward-offset: 2px;
        
        &:after {
            inset: -2px;
            transition: none;
            border-radius: inherit;

            opacity: 0;
        }
        &:hover,
        &[data-focused=true] {
            box-shadow: var(--shadow-high);
            scale: 1.025;
            backdrop-filter: nonee;
        }

        &:hover:after,
        &[data-focused=true]:after {
            background: none;
            opacity: 1;
        }

    }

    .categoryText_d02962 {
        text-shadow:
            0 1px 2px var(--md-sys-color-shadow),
            0 4px 10px var(--md-sys-color-shadow);
        font-weight: 500;
        padding-bottom: var(--space-12);
        height: 1fr;
        position: absolute;
        top: auto;
    }

    .categoryName_d02962 {
        font-size: inherit;
        font-weight: inherit;
    }

    .categoryFade_d02962,
    .categoryFadeBlurple_d02962 {
        border-width: 0;
    }
    .categoryFade_d02962 {
        background: linear-gradient(
            to bottom,
            transparent 25%,
            var(--bg-backdrop) 100%
        );
    }
    .categoryFadeBlurple_d02962 {
        background: linear-gradient(
            to bottom,
            transparent 25%,
            color-mix(in oklab, var(--md-sys-color-primary), var(--md-sys-color-scrim) var(--scrim)) 100%
        );
    }

    :where(.reduce-motion) {
        .result__2dc39 {
            transition-duration: 0ms;
        }
    }

    [data-focused=true] .categoryFade_d02962,
    [data-focused=true] .categoryFadeBlurple_d02962,
    .result__2dc39[data-focused=true] {
        border-color: transparent;
    }

    .categoryFade_d02962:hover,
    .categoryFadeBlurple_d02962:hover,
    [data-focused=true] .categoryFade_d02962,
    [data-focused=true] .categoryFadeBlurple_d02962 {
        backdrop-filter: brightness(60%);
    }

    .gif__2dc39,
    .categoryFade_d02962, .categoryFadeBlurple_d02962 {
        border-radius: inherit;
    }

    /* React Calendar */
    .calendarPicker_d27f17 .react-datepicker__day.react-datepicker__day--selected:after {
        background-color: var(--md-sys-color-primary)
    }
    .calendarPicker_d27f17 .react-datepicker__day.react-datepicker__day--keyboard-selected, .calendarPicker_d27f17 .react-datepicker__day.react-datepicker__day--selected:hover, .calendarPicker_d27f17 .react-datepicker__day:hover {
        background-color: var(--hover-generic);
        border-radius: 0;
        color: var(--interactive-hover);
    }
    .calendarPicker_d27f17 .react-datepicker__day.react-datepicker__day--disabled,
    .calendarPicker_d27f17 .react-datepicker__day.react-datepicker__day--disabled:hover {
        background-color: var(--bg-surface-raised);
        color: hsl(var(--primary-100-hsl)/.3);
    }
    .calendarPicker_d27f17 .react-datepicker__navigation.react-datepicker__navigation--next:focus-visible,
    .calendarPicker_d27f17 .react-datepicker__navigation.react-datepicker__navigation--previous:focus-visible {
        box-shadow: 0 0 0 4px var(--md-sys-color-secondary);
    }
    .calendarPicker_d27f17 .react-datepicker__day:focus-visible {
        border-left-color: var(--md-sys-color-secondary);
        border-top-color: var(--md-sys-color-secondary);
        border-color: var(--md-sys-color-secondary);
    }

    /* Permissions */
    .scroller__53543 {
        background-color: transparent;
    }
    /* Nav item */
    .side_b3f026 .item_b3f026,
    .background_e681d1 {
        line-height: 26px;
        border-radius: 16px;
        margin-bottom: 0;
        padding-inline: var(--space-12);
        &.selected_b3f026 {
            background-color: var(--md-sys-color-secondary-container);
            color: var(--md-sys-color-on-secondary-container);
        }
    }

    /* Mention messsage hover */
    .message__5126c.replying__5126c.selected__5126c,
    &.mouse-mode.full-motion .message__5126c.replying__5126c:hover,
    &.mouse-mode.full-motion.visual-refresh .message__5126c.replying__5126c:hover,
    .message__5126c.replying__5126c.selected__5126c {
        background: var(--background-message-highlight-hover);
    }

    /* Inline mention hover */
    .interactive:hover {
        background-color: var(--md-sys-color-primary-container);
        color: var(--md-sys-color-on-primary-container);
    }

    /* Side highlight */

    .replying__5126c:before {
        background: var(--md-sys-color-primary);
    }

    /* Unread pill */
    .endCap__908e2 {
        color: var(--md-extended-color-red-on-color);
    }

    /* Generic */

    /* GM3/MD focus ring */
    .focus-rings-ring,
    /* Emoji focused */
    &.keyboard-mode .emojiItem_fc7141.emojiItemSelected_fc7141:before,
    /* Sticker focused */
    &.keyboard-mode .stickerInspected_c6367b:before,
    /* GIF picker GIF focus */
    [data-focused=true] .categoryFade_d02962,
    [data-focused=true] .categoryFadeBlurple_d02962,
    .result__2dc39[data-focused=true] {
        animation-name: outward-grow, outward-shrink;
        animation-delay: 0s, calc(var(--md-focus-ring-duration, 600ms) * .25);
        animation-duration: calc(var(--md-focus-ring-duration, 600ms) * .25), calc(var(--md-focus-ring-duration, 600ms) * .75);
        animation-timing-function: cubic-bezier(0.2, 0, 0, 1);

        box-shadow: none;
        outline-style: solid;
        outline-color: var(--__adaptive-focus-ring-color, var(--focus-primary, var(--md-sys-color-secondary)));
        outline-width: var(--md-focus-ring-width, 3px);
        outline-offset: var(--md-focus-ring-outward-offset, 0);
    }

    &.full-motion .item_b3f026 {
        transition: background-color 200ms ease;
    }

    /* Input placeholder */
    ::placeholder {
        color: var(--text-muted);
        opacity: 1;
    }
}

:where(.reduce-motion) {
    --md-focus-ring-duration: 0;
}

@keyframes outward-grow {
    0% {
        outline-width: 0;
    }
    
    100% {
        outline-width: var(--md-focus-ring-active-width, 8px);
    }
}
@keyframes outward-shrink {
    0% {
        outline-width: var(--md-focus-ring-active-width, 8px);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
}

/* Brand badge */
[style*="background-color: var(--brand-500);"] {
    background-color: var(--md-sys-color-primary) !important;
    color: var(--md-sys-color-on-primary);
}

/* Brand folder */
[style*="background-color: rgb(88, 101, 242);"] {
    background-color: var(--md-sys-color-primary) !important;
    color: var(--md-sys-color-on-primary);
    & > svg > path[fill*="var(--white-500)"] {
        fill: var(--md-sys-color-on-primary);
    }
}

/* Success icon Inbox */
.maskBackground_db811b[style*="background-color: var(--status-positive-background);"] > img {
    filter: invert(1) hue-rotate(180deg);
}

/* Accept friend request Inbox */
.friendRequestContainer__6fddf .acceptButton__6fddf div[style*="color: white;"] {
    color: inherit !important;
}

/* Source http://material-foundation.github.io/material-theme-builder?primary=%2300D8CB&custom%3Ared=%23FF7669&custom%3Agreen=%2373DB58&custom%3Ablue=%23529CFF&custom%3Ayellow=%23FFC643&custom%3Apurple=%23A55FF7&custom%3Apink=%23FF84CE&colorMatch=false */
.visual-refresh:not(.theme-light) {
    --md-sys-color-primary: rgb(129 213 204);
    --md-sys-color-surface-tint: rgb(129 213 204);
    --md-sys-color-on-primary: rgb(0 55 51);
    --md-sys-color-primary-container: rgb(0 80 75);
    --md-sys-color-on-primary-container: rgb(157 242 232);
    --md-sys-color-secondary: rgb(177 204 200);
    --md-sys-color-on-secondary: rgb(28 53 50);
    --md-sys-color-secondary-container: rgb(50 75 72);
    --md-sys-color-on-secondary-container: rgb(204 232 228);
    --md-sys-color-tertiary: rgb(175 201 231);
    --md-sys-color-on-tertiary: rgb(23 50 74);
    --md-sys-color-tertiary-container: rgb(47 73 97);
    --md-sys-color-on-tertiary-container: rgb(206 229 255);
    --md-sys-color-error: rgb(255 180 171);
    --md-sys-color-on-error: rgb(105 0 5);
    --md-sys-color-error-container: rgb(147 0 10);
    --md-sys-color-on-error-container: rgb(255 218 214);
    --md-sys-color-background: rgb(14 21 20);
    --md-sys-color-on-background: rgb(221 228 226);
    --md-sys-color-surface: rgb(14 21 20);
    --md-sys-color-on-surface: rgb(221 228 226);
    --md-sys-color-surface-variant: rgb(63 73 71);
    --md-sys-color-on-surface-variant: rgb(190 201 198);
    --md-sys-color-outline: rgb(137 147 145);
    --md-sys-color-outline-variant: rgb(63 73 71);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(221 228 226);
    --md-sys-color-inverse-on-surface: rgb(43 50 49);
    --md-sys-color-inverse-primary: rgb(0 106 99);
    --md-sys-color-primary-fixed: rgb(157 242 232);
    --md-sys-color-on-primary-fixed: rgb(0 32 29);
    --md-sys-color-primary-fixed-dim: rgb(129 213 204);
    --md-sys-color-on-primary-fixed-variant: rgb(0 80 75);
    --md-sys-color-secondary-fixed: rgb(204 232 228);
    --md-sys-color-on-secondary-fixed: rgb(5 31 29);
    --md-sys-color-secondary-fixed-dim: rgb(177 204 200);
    --md-sys-color-on-secondary-fixed-variant: rgb(50 75 72);
    --md-sys-color-tertiary-fixed: rgb(206 229 255);
    --md-sys-color-on-tertiary-fixed: rgb(0 29 51);
    --md-sys-color-tertiary-fixed-dim: rgb(175 201 231);
    --md-sys-color-on-tertiary-fixed-variant: rgb(47 73 97);
    --md-sys-color-surface-dim: rgb(14 21 20);
    --md-sys-color-surface-bright: rgb(52 58 57);
    --md-sys-color-surface-container-lowest: rgb(9 15 15);
    --md-sys-color-surface-container-low: rgb(22 29 28);
    --md-sys-color-surface-container: rgb(26 33 32);
    --md-sys-color-surface-container-high: rgb(37 43 42);
    --md-sys-color-surface-container-highest: rgb(48 54 53);
    --md-extended-color-red-color: rgb(255 180 171);
    --md-extended-color-red-on-color: rgb(86 30 25);
    --md-extended-color-red-color-container: rgb(115 51 45);
    --md-extended-color-red-on-color-container: rgb(255 218 214);
    --md-extended-color-green-color: rgb(166 211 148);
    --md-extended-color-green-on-color: rgb(19 56 10);
    --md-extended-color-green-color-container: rgb(42 79 31);
    --md-extended-color-green-on-color-container: rgb(194 239 174);
    --md-extended-color-blue-color: rgb(167 200 255);
    --md-extended-color-blue-on-color: rgb(4 48 95);
    --md-extended-color-blue-color-container: rgb(36 71 119);
    --md-extended-color-blue-on-color-container: rgb(213 227 255);
    --md-extended-color-yellow-color: rgb(234 193 108);
    --md-extended-color-yellow-on-color: rgb(64 45 0);
    --md-extended-color-yellow-color-container: rgb(92 67 0);
    --md-extended-color-yellow-on-color-container: rgb(255 222 161);
    --md-extended-color-purple-color: rgb(217 186 250);
    --md-extended-color-purple-on-color: rgb(61 36 90);
    --md-extended-color-purple-color-container: rgb(84 59 114);
    --md-extended-color-purple-on-color-container: rgb(238 219 255);
    --md-extended-color-pink-color: rgb(251 177 216);
    --md-extended-color-pink-on-color: rgb(81 29 62);
    --md-extended-color-pink-color-container: rgb(107 52 85);
    --md-extended-color-pink-on-color-container: rgb(255 216 234);
}


.visual-refresh.theme-light {
    --md-sys-color-primary: rgb(0 106 99);
    --md-sys-color-surface-tint: rgb(0 106 99);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(157 242 232);
    --md-sys-color-on-primary-container: rgb(0 80 75);
    --md-sys-color-secondary: rgb(74 99 96);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(204 232 228);
    --md-sys-color-on-secondary-container: rgb(50 75 72);
    --md-sys-color-tertiary: rgb(71 97 122);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(206 229 255);
    --md-sys-color-on-tertiary-container: rgb(47 73 97);
    --md-sys-color-error: rgb(186 26 26);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(255 218 214);
    --md-sys-color-on-error-container: rgb(147 0 10);
    --md-sys-color-background: rgb(244 251 249);
    --md-sys-color-on-background: rgb(22 29 28);
    --md-sys-color-surface: rgb(244 251 249);
    --md-sys-color-on-surface: rgb(22 29 28);
    --md-sys-color-surface-variant: rgb(218 229 226);
    --md-sys-color-on-surface-variant: rgb(63 73 71);
    --md-sys-color-outline: rgb(111 121 119);
    --md-sys-color-outline-variant: rgb(190 201 198);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(43 50 49);
    --md-sys-color-inverse-on-surface: rgb(236 242 240);
    --md-sys-color-inverse-primary: rgb(129 213 204);
    --md-sys-color-primary-fixed: rgb(157 242 232);
    --md-sys-color-on-primary-fixed: rgb(0 32 29);
    --md-sys-color-primary-fixed-dim: rgb(129 213 204);
    --md-sys-color-on-primary-fixed-variant: rgb(0 80 75);
    --md-sys-color-secondary-fixed: rgb(204 232 228);
    --md-sys-color-on-secondary-fixed: rgb(5 31 29);
    --md-sys-color-secondary-fixed-dim: rgb(177 204 200);
    --md-sys-color-on-secondary-fixed-variant: rgb(50 75 72);
    --md-sys-color-tertiary-fixed: rgb(206 229 255);
    --md-sys-color-on-tertiary-fixed: rgb(0 29 51);
    --md-sys-color-tertiary-fixed-dim: rgb(175 201 231);
    --md-sys-color-on-tertiary-fixed-variant: rgb(47 73 97);
    --md-sys-color-surface-dim: rgb(213 219 217);
    --md-sys-color-surface-bright: rgb(244 251 249);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(239 245 243);
    --md-sys-color-surface-container: rgb(233 239 237);
    --md-sys-color-surface-container-high: rgb(227 233 231);
    --md-sys-color-surface-container-highest: rgb(221 228 226);
    --md-extended-color-red-color: rgb(144 74 67);
    --md-extended-color-red-on-color: rgb(255 255 255);
    --md-extended-color-red-color-container: rgb(255 218 214);
    --md-extended-color-red-on-color-container: rgb(115 51 45);
    --md-extended-color-green-color: rgb(65 104 53);
    --md-extended-color-green-on-color: rgb(255 255 255);
    --md-extended-color-green-color-container: rgb(194 239 174);
    --md-extended-color-green-on-color-container: rgb(42 79 31);
    --md-extended-color-blue-color: rgb(62 95 144);
    --md-extended-color-blue-on-color: rgb(255 255 255);
    --md-extended-color-blue-color-container: rgb(213 227 255);
    --md-extended-color-blue-on-color-container: rgb(36 71 119);
    --md-extended-color-yellow-color: rgb(120 89 12);
    --md-extended-color-yellow-on-color: rgb(255 255 255);
    --md-extended-color-yellow-color-container: rgb(255 222 161);
    --md-extended-color-yellow-on-color-container: rgb(92 67 0);
    --md-extended-color-purple-color: rgb(109 83 139);
    --md-extended-color-purple-on-color: rgb(255 255 255);
    --md-extended-color-purple-color-container: rgb(238 219 255);
    --md-extended-color-purple-on-color-container: rgb(84 59 114);
    --md-extended-color-pink-color: rgb(135 75 110);
    --md-extended-color-pink-on-color: rgb(255 255 255);
    --md-extended-color-pink-color-container: rgb(255 216 234);
    --md-extended-color-pink-on-color-container: rgb(107 52 85);
}
  
